@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 80%;
}

label {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

textarea {
    width: 90%;
    height: 150px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px;
    line-height: 1.5;
}

button {
    background-color: #5c4caf;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#qr-code {
    margin-top: 20px;
}

#qr-code img {
    max-width: 100%;
    height: auto;
}

.message-display #scanned-message {
    font-family: 'Fredoka One', cursive;
    font-size: 42px;
    font-weight: 800;
    line-height: normal;
    margin: 40px auto;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    
    /* Prevent word breaking */
    white-space: normal;
    word-break: keep-all;
    overflow-wrap: break-word;
    
    /* Create outline effect */
    color: #493d88;
    text-shadow: 
        -1px -1px 0 #FFF,
        1px -1px 0 #FFF,
        -1px 1px 0 #FFF,
        1px 1px 0 #FFF,
        -2px 0 0 #FFF,
        2px 0 0 #FFF,
        0 -2px 0 #FFF,
        0 2px 0 #FFF,
        2px 2px 4px rgba(0, 0, 0, 0.3);
}



